[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:lay-z/ohmyzsh.git
[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule "tmux/plugins/tmux-open"]
	path = tmux/plugins/tmux-open
	url = https://git::@github.com/tmux-plugins/tmux-open
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
