*{
    font-family: "Ubuntu Nerd Font";
}

window {
    border-radius: 15px 15px 15px 15px;

}
#inner-box {
    margin: 5px;
    background-color: #161320;
}

#style-entry {
  padding: 10px;
}

#outer-box {
    margin: 5px;
    padding:20px;
    background-color: #161320;
    border-radius: 15px 15px 15px 15px;
}

#entry:selected {
    background-color: #1A1826;
}

#text:selected {
    text-decoration-color: white;
}

#text {
    padding: 10px;
}
