configuration {
  show-icons: true;
  /* normalize-match: true; */
  /* matching: "fuzzy"; */
}

/* @theme "/home/layz/.config/rofi/themes/spotlight.rasi" */
/* @theme "/home/layz/.config/rofi/themes/windows11-list-light.rasi" */
@theme "/home/layz/.config/rofi/themes/windows11-list-dark.rasi"
/* @theme "material" */
/* @theme "/home/layz/.config/rofi/themes/spotlight-dark.rasi" */

* {
  font: "Ubuntu Mono 12";
}

window {
  location: center;
  anchor: center;
}


listview {
  columns : 1;
}
