[Desktop Entry]
Version=1.0
Type=Application
Name=WhatsApp
Comment=WhatsApp Web in a dedicated Brave profile
Exec=brave --enable-features=TouchpadOverscrollHistoryNavigation --ozone-platform=wayland --user-data-dir=/home/layz/.config/brave-profile-whatsapp %U --app="https://web.whatsapp.com"
StartupNotify=true
Terminal=false
Icon=/home/layz/.local/share/icons/whatsapp.png
Categories=Network;InstantMessaging;
