[Unit]
Description=Xremap
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/xremap --watch %h/.config/xremap/config.yml
Restart=always
RestartSec=1
StandardOutput=journal
StandardError=journal
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
